{% extends 'base.html'%}


{% block content%}
<style>
    .form-container{
      margin-top: 110px;
    }

    #lin {
      padding: 10px 20px;
    }
  </style>
    <div class="form-container">
        <div>
          <a href="{% url 'create-buyer' %}">Create Tenant profile</a>
        </div>

        <table>
          <tr>
            <th style="padding-right: 30px;">Full Name</th>
            <th style="padding-right: 30px;">Email</th>
            <th style="padding-left: 30px;">Action</th>
          </tr>
          {% for profile in profiles %}
          <tr>
            <td>{{ profile.first_name }}</td>
            <td>{{ profile.email }}</td>
            <td id="lin">
              <a href="#">Edit</a>
              <a href="#">View</a>
              <a href="#">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </table>
    </div>


{% endblock content%}