{% extends 'base.html'%}


{% block content%}
<style>

    body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        .apartment-details {
            margin-top: 100px;
            margin-left: 400px;
            max-width: 600px;
            margin: 110 auto;
            border: 1px solid #ddd;
            padding: 20px;
            border-radius: 10px;
        }
        .apartment-details h1 {
            text-align: center;
        }
        .detail {
            margin-bottom: 10px;
        }
        .detail label {
            font-weight: bold;
        }

</style>

<div class="apartment-details">
    <h1>Buyer Details</h1>
    <div class="detail">
        <label>Full Name:</label> {{ buyer.full_name }}
    </div>

    <div class="detail">
        <label>Email:</label> {{ buyer.email }}
    </div>

    <div class="detail">
        <label>Phone Number:</label> {{ buyer.phone_number }}
    </div>

    <div class="detail">
        <label>Address:</label> {{ buyer.address }}
    </div>

    <div class="detail">
        <label>Country:</label> {{ buyer.country.name }}
    </div>

    <div class="detail">
        <label>State:</label> {{ buyer.state.name }}
    </div>

    <div class="detail">
        <label>City:</label> {{ buyer.city }}
    </div>

    <div class="detail">
        <label>Budget:</label> {{ buyer.budget }}      
    </div>

    <div class="detail">
        <label>Preferred Property Type:</label> {{ buyer.preferred_property_type }}
    </div>

    <div class="detail">
        <label>Preferred Location:</label> {{ buyer.preferred_location }}
    </div>

    <div class="detail">
        <label>Notes:</label> {{ buyer.notes }}      
    </div>

    <div class="detail">
        <label>Created:</label> {{ buyer.created }}
    </div>
   
    <div class="detail">
        <label>Updated:</label> {{ buyer.updated }}
    </div>
</div>

{% endblock content %}
