<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Estate-Manage</title>{% endblock title %}
    {% block head %}
        <link href="{% static 'css/alert.css' %}" rel="stylesheet">
    {% endblock head %}
</head>
<body>
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            This is a success alert with a close button.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock content %}

    <script>
    document.querySelectorAll('.close').forEach(button => {
        button.addEventListener('click', () => {
            button.parentElement.style.display = 'none';
        });
    });
    </script>

</body>
</html>