{% extends 'base.html' %}
{% load static%}

{% block content %}
<link rel="stylesheet" href="{% static 'css/signin_signup.css' %}">
<div class="main">
<!-- Reset Password Form -->
    <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-form">
                    <h2 class="form-title" style="color: #2fc96a;">Reset complete</h2>
                    <p>Your password has been set. You may go ahead and log in now.</p>
                    <br>
                    <div class="form-group form-button">
                        <a href="{% url 'login' %}"><input style="background-color: #2fc96a; font-weight: 600;" type="submit"
                               class="form-submit" value="Log in" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}