{% extends 'base.html' %}
{% load

{% block title %}
    <title>Reset - EstateManage</title>
{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/signin_signup.css' %}">
<div class="main">
<!-- Reset Password Form -->
    <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-form">
                    <h2 class="form-title" style="color: #2fc96a;">Enter new password</h2>
                    <p>Please enter your new password twice, so we can verify you typed it in correctly.</p>
                    <br>
                    <form method="POST" class="register-form" id="login-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label><i class="zmdi zmdi-email"></i></label>
                            {{form.new_password1}}
                        </div>
                        <div class="form-group">
                            <label><i class="zmdi zmdi-email"></i></label>
                            {{form.new_password2}}
                        </div>
                        <div class="form-group form-button">
                            <input style="background-color: #2fc96a; font-weight: 600;" type="submit"
                                   class="form-submit" value="Submit" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}