{% extends 'base.html' %}

{% block content %}
    <div style="padding: 100px">
        <h1>Welcome {{ request.user.profile.name.title }}</h1>
            <p style="font-size: 30px">Dashboard still in construction....</p>
        <hr>

        {% if request.user.profile.designation == "buyer" %}
            {% block buyer %}{% endblock buyer %}

        {% elif request.user.profile.designation == "company" %}
            {% block company %}{% endblock company %}

        {% elif request.user.profile.designation == "tenant" %}
            {% block tenant %}{% endblock tenant %}

        {% elif request.user.profile.designation == "building_owner" %}
            {% block BO %}{% endblock BO %}

        {% elif request.user.profile.designation == "agent" %}
            {% block agent %}{% endblock agent %}

        {% else %}
            <p>No dashboard available for this designation.</p>
        {% endif %}
    </div>
{% endblock content %}
