{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    li{
        list-style-type: none;
    }

    h6{
        margin-top: 10px;
    }
  
</style>
    <div style="padding: 100px">
        <h1>Welcome {{ request.user.profile.name.title }}</h1>
            <p style="font-size: 30px">Dashboard still in construction....</p>
        <hr>

        {% if request.user.profile.designation == "buyer" %}
            {% block buyer %}{% endblock buyer %}

        {% elif request.user.profile.designation == "company" %}
            <a id="home" href="{% url 'company-home' %}">Go to Company Home</a>
            <h6>Overview Section</h6>
            <ul>
                <li><a href="">Summary of Properties</a></li>
                <li><a href="">Financial Overview</a></li>
                <li><a href="">Key Performance Indicators (KPIs)</a></li>
            </ul>
            <h6>Property Management</h6>
            <ul>
                <li><a href="">Property Listings</a></li>
                <li><a href="">Lease Management</a></li>
                <li><a href="">Tenant Information</a></li>
            </ul>
            <h6>Financial Management</h6>
            <ul>
                <li><a href="">Rent Collection</a></li>
                <li><a href="">Expense Tracking</a></li>
                <li><a href="">Financial Reporting</a></li>
            </ul>
            <h6>Maintenance Management</h6>
            <ul>
                <li><a href="">Work Orders</a></li>
                <li><a href="">Maintenance Schedule</a></li>
                <li><a href="">Service Providers</a></li>
            </ul>
            <h6>Communication Tools</h6>
            <ul>
                <li><a href="">Tenant Communication</a></li>
                <li><a href="">Announcements</a></li>
                <li><a href="">Feedback and Surveys</a></li>
            </ul>
            <h6>Document Management</h6>
            <ul>
                <li><a href="">Document Storage</a></li>
                <li><a href="">Document Sharing</a></li>
            </ul>
            <h6>Analytics and Reporting</h6>
            <ul>
                <li><a href="">Real-time Analytics</a></li>
                <li><a href="">Custom Reports</a></li>
                <li><a href="">Forecasting Tools</a></li>
            </ul>
            <h6>User Management</h6>
            <ul>
                <li><a href="">Access Control</a></li>
                <li><a href="">User Activity Logs</a></li>
            </ul>


        {% elif request.user.profile.designation == "tenant" %}
            <a id="home" href="{% url 'tenant-home' %}">Go to Tenant Home</a>
            <h6>Tenant Overview</h6>
            <ul>
                <li><a href="">Personal Information</a></li>
                <li><a href="">Lease Information</a></li>
                <li><a href="">Payment History</a></li>
            </ul>
            <h6>Rent Payment Management</h6>
            <ul>
                <li><a href="">Rent Payment Portal</a></li>
                <li><a href="">Payment Reminders</a></li>
                <li><a href="">Receipt Generation</a></li>
            </ul>
            <h6>Maintenance Requests</h6>
            <ul>
                <li><a href="">Request Submission</a></li>
                <li><a href="">Tracking and Updates</a></li>
                <li><a href="">Service Provider Information</a></li>
            </ul>
            <h6>Communication Tools</h6>
            <ul>
                <li><a href="">In-App Messaging</a></li>
                <li><a href="">Announcements</a></li>
                <li><a href="">Feedback and Surveys</a></li>
            </ul>
            <h6>Utilities and Services Management</h6>
            <ul>
                <li><a href="">Utility Tracking</a></li>
                <li><a href="">Service Requests</a></li>
            </ul>
            <h6>Document Management</h6>
            <ul>
                <li><a href="">Lease and Agreements</a></li>
                <li><a href="">Receipts and Invoices</a></li>
            </ul>
            <h6>Community Features</h6>
            <ul>
                <li><a href="">Community Bulletin Board</a></li>
                <li><a href="">Neighbor Directory</a></li>
            </ul>
            <h6>Security Features</h6>
            <ul>
                <li><a href="">Visitor Management</a></li>
                <li><a href="">Emergency Contacts</a></li>
            </ul>
            <h6>Move-In/Move-Out Process</h6>
            <ul>
                <li><a href="">Checklists</a></li>
                <li><a href="">Documentation</a></li>
            </ul>

        {% elif request.user.profile.designation == "building_owner" %}
            {% block BO %}{% endblock BO %}

        {% elif request.user.profile.designation == "agent" %}
            <h6>Overview Section</h6>
            <ul>
                <li><a href="">Portfolio Summary</a></li>
                <li><a href="">Financial Snapshot</a></li>
                <li><a href="">Key Performance Indicators (KPIs)</a></li>
            </ul>
            <h6>Property Management</h6>
            <ul>
                <li><a href="">Property Listings</a></li>
                <li><a href="">Lease Managemen</a></li>
                <li><a href="">Tenant Information</a></li>
            </ul>
            <h6>Tenant Management</h6>
            <ul>
                <li><a href="">Tenant Profiles</a></li>
                <li><a href="">Communication Tools</a></li>
                <li><a href="">Lease Renewals and Terminations</a></li>
            </ul>
            <h6>Financial Management</h6>
            <ul>
                <li><a href="">Rent Collection</a></li>
                <li><a href="">Expense Tracking</a></li>
                <li><a href="">Financial Reporting</a></li>
            </ul>
            <h6>Maintenance Management</h6>
            <ul>
                <li><a href="">Work Orders</a></li>
                <li><a href="">Maintenance Schedule</a></li>
                <li><a href="">Service Providers</a></li>
            </ul>
            <h6>Document Management</h6>
            <ul>
                <li><a href="">Document Storage</a></li>
                <li><a href="">Document Sharing</a></li>
            </ul>
            <h6>Analytics and Reporting</h6>
            <ul>
                <li><a href="">Real-time Analytics</a></li>
                <li><a href="">Custom Reports</a></li>
                <li><a href="">Forecasting Tools</a></li>
            </ul>
            <h6>User Management</h6>
            <ul>
                <li><a href="">Access Contro</a></li>
                <li><a href="">User Activity Logs</a></li>
            </ul>
            <h6>Marketing Tools</h6>
            <ul>
                <li><a href="">Property Listings Management</a></li>
                <li><a href="">Lead Management</a></li>
                <li><a href="">Advertising Tools</a></li>
            </ul>
            <h6>Community Features</h6>
            <ul>
                <li><a href="">Community Announcements</a></li>
                <li><a href="">Feedback and Surveys</a></li>
            </ul>

        {% else %}
            <p>No dashboard available for this designation.</p>
        {% endif %}
    </div>
{% endblock content %}
