
{% for request in requests %}
    <div class="card mb-4">
        <div class="card-body">
            <div class='d-flex mb-2'>
                <div class="flex-shrink-0 me-2">
                    <div class="avatar">
                        <img src={{ request.apartment.tenant_apartment.user.profile_image.url }} alt class="w-px-40 rounded-circle" />
                    </div>
                </div>
                <div class="flex-grow-1">
                    <h5 class="card-title">{{ request.apartment.tenant_apartment.user.name }}</h5>
                    <h6 class="card-subtitle text-muted">{{ request.apartment.house }} :: {{ request.apartment }}</h6>
                </div>
            </div>
            <p class="card-text">
                {{ request.description }}
            </p>
            <a href="javascript:void(0)" class="card-link">Assign Service Provider</a>
            <a href="javascript:void(0)" class="card-link">Cancel Request</a>
            <div class="card-subtitle text-muted mt-1">{{ request.reported_date }}</div>
        </div>
    </div>
{% endfor %}
