{% extends "agents/A_dashboard.html" %}

{% block details %}
    <!-- Content -->

    <!-- Location header -->
    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">My Properties / </span>Properties List
    </h4>
    <!-- End Location header -->

    {% if properties %}
    <div class="card">
        <div class="table-responsive text-nowrap">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>House Address</th>
                        <th>Apartments</th>
                        <th>Floors</th>
                        <th>Status</th>
                        <th>Rent Price</th>
                        <th>Sale Price</th>
                        <th>Building Owner</th>
                        <th>Last Updated</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    {% for property in properties  %}
                    <tr onclick="window.location.href='{% url 'agent-house-apartments' pk=request.user.profile p_id=property.id %}';" style="cursor:pointer;">
                        <td><i class="fab fa-angular fa-lg text-danger me-1"></i> <strong>No {{ property }}</strong></td>
                        <td>{{ property.number_of_apartments }}</td>
                        <td>{{ property.number_of_floors }}</td>
                        <td><span class="badge {% if property.occupancy_status == 'occupied' %}bg-label-primary{% elif property.occupancy_status == 'vacant' %}bg-label-danger{% else %}bg-label-dark{% endif %} me-1">{{ property.occupancy_status }}</span></td>
                        <td>${{ property.rent_price }}</td>
                        <td>${{ property.sale_price }}</td>
                        <td>{{ property.building_owner.building_owner_name }}</td>
                        <td>{{ property.updated }}</td>
                    </tr>
                    </a>
                    {% endfor %}
                </tbody>
                <tfoot class="table-border-bottom-0">
                    <tr>
                        <th>House Address</th>
                        <th>Apartments</th>
                        <th>Floors</th>
                        <th>Status</th>
                        <th>Rent Price</th>
                        <th>Sale Price</th>
                        <th>Building Owner</th>
                        <th>Last Updated</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    {% else %}
        <h1>No Property Found</h1>
    {% endif %}
    
{% endblock details %}