{% extends "agents/A_dashboard.html" %}

{% block details %}
    <!-- Content -->

    <!-- Location header -->
    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">My Properties / </span>Properties List ({{ houses.count }})
    </h4>
    <!-- End Location header -->

    {% if houses %}
    <div class="card">
        <h5 class="card-header">Houses with related Apartments</h5>
        <div class="table-responsive text-nowrap">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>House Address</th>
                        <th>Apartments</th>
                        <th>Floors</th>
                        <th>Status</th>
                        <th>Rent Price</th>
                        <th>Sale Price</th>
                        <th>Building Owner</th>
                        <th>Last Updated</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    {% for house in houses  %}
                    <tr onclick="window.location.href='{% url 'agent-house-apartments' pk=request.user.profile house_id=house.id %}';" style="cursor:pointer;">
                        <td><i class="fab fa-angular fa-lg text-danger me-1"></i> <strong>No {{ house }}</strong></td>
                        <td>{{ house.number_of_apartments }}</td>
                        <td>{{ house.number_of_floors }}</td>
                        <td><span class="badge {% if house.occupancy_status == 'occupied' %}bg-label-primary{% elif house.occupancy_status == 'vacant' %}bg-label-danger{% else %}bg-label-dark{% endif %} me-1">{{ house.occupancy_status }}</span></td>
                        <td>${{ house.rent_price }}</td>
                        <td>${{ house.sale_price }}</td>
                        <td>{{ house.building_owner.building_owner_name }}</td>
                        <td>{{ house.updated }}</td>
                    </tr>
                    </a>
                    {% endfor %}
                </tbody>
                {% if houses.count > 6 %}
                <tfoot class="table-border-bottom-0">
                    <tr>
                        <th>House Address</th>
                        <th>Apartments</th>
                        <th>Floors</th>
                        <th>Status</th>
                        <th>Rent Price</th>
                        <th>Sale Price</th>
                        <th>Building Owner</th>
                        <th>Last Updated</th>
                    </tr>
                </tfoot>
                {% endif %}
            </table>
        </div>
    </div>
    {% else %}
        <h1>No house Found</h1>
    {% endif %}
    
{% endblock details %}