{% extends 'base.html'%}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/deleteEstate.css' %}">
{% endblock head %}

{% block content%}

<style>
    .confirmation-container{
      margin-top: 110px;
    }
</style>
    <!-- HTML -->
    <div class="confirmation-container">
        <form action="" method="POST" class="confirmation-form">
            {% csrf_token %}
            <p class="confirmation-message">Are you sure you want to delete {{ obj }} profile?</p>

            <div class="form-actions">
                <a href="{% url 'building-owner-home' %}" class="go-back-link">Go back</a>
                <input type="submit" value="Confirm" class="confirm-button">
            </div>
        </form>
    </div>
{% endblock content%}