{% extends "building_owners/BO_dashboard.html" %}
{% load static %}

{% block details %}
    <style>
        img {
            width: 400px;
            height: 400px;
            object-fit: cover; /* This ensures the image covers the entire area without distortion */
        }
    </style>
    <div class="row mb-5">
        <div class="col-md-6 col-lg-4 mb-3">
            <div class="card h-100">
                <img class="card-img-top" src="{% static 'images/profile-pics/dera.jpg' %}" alt="Card image cap" />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                    <a href="javascript:void(0)" class="btn btn-outline-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-3">
            <div class="card h-100">
                <img class="card-img-top" src="{% static 'images/profile-pics/dera.jpg' %}" alt="Card image cap" />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                    <a href="javascript:void(0)" class="btn btn-outline-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-3">
            <div class="card h-100">
                <img class="card-img-top" src="{% static 'images/profile-pics/dera.jpg' %}" alt="Card image cap" />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                    <a href="javascript:void(0)" class="btn btn-outline-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-3">
            <div class="card h-100">
                <img class="card-img-top" src="{% static 'images/profile-pics/dera.jpg' %}" alt="Card image cap" />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                    <a href="javascript:void(0)" class="btn btn-outline-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-3">
            <div class="card h-100">
                <img class="card-img-top" src="{% static 'images/profile-pics/dera.jpg' %}" alt="Card image cap" />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                    <a href="javascript:void(0)" class="btn btn-outline-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-3">
            <div class="card h-100">
                <img class="card-img-top" src="{% static 'images/profile-pics/dera.jpg' %}" alt="Card image cap" />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                    <a href="javascript:void(0)" class="btn btn-outline-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
{% endblock details %}