{% extends "building_owners/BO_dashboard.html" %}

{% block details %}
    <!-- Update Profile Form -->
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% if form.errors %}
            <ul>
                {% for field_name, errors in form.errors.items %}
                    <li>
                        <strong>{{ field_name.title }}:</strong>
                        {% for error in errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="card">
            <div class="card-header text-white" style="background-color: #2ed162;">
                <h4>Update Profile</h4>
            </div>
            <div class="card-body">
                {% for data in form %}
                    <div class="form-group mb-4">
                        <label>{{data.label}}:</label>
                        {{ data }}
                    </div>
                {% endfor %}
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-success">Save Changes</button>
            </div>
        </div>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
        $('#id_country').change(function() {
            var countryId = $(this).val();
            if (countryId) {
                $.ajax({
                    url: "{% url 'get-states' %}",
                    data: {
                        'country_id': countryId
                    },
                    success: function(data) {
                        var options = '<option value="">Select a state</option>';
                        for (var i = 0; i < data.length; i++) {
                            options += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
                        }
                        $('#id_state').html(options);
                    }
                });
            } else {
                $('#id_state').empty();
                }
            });
        });
    </script>
    
{% endblock details %}