{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Contact Us - EstateManage</title>
{% endblock title %}

{% block content %}
<main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">Contact US</h1>
              <span class="color-text-a">
                  At EstateManage, we’re dedicated to providing exceptional service and support
                  for all your real estate needs. Whether you have questions, need guidance, or want to schedule a
                  property viewing, our expert team is here to assist you. Reach out to us via phone, email, or visit
                  our office. We're eager to help you find your perfect property and answer any questions you may have.
              </span>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'home' %}">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Contact Us
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->

    <!-- ======= Contact Single ======= -->
    <section class="contact">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="contact-map box">
              <div id="map" class="contact-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3964.4587938071977!2d3.2990284179992684!3d6.463413524588084!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b8930b50614ab%3A0x1b5ad56a0ff1a60f!2sNew%20Horizon%20Nigeria%2C%20Festac!5e0!3m2!1sen!2sng!4v1722603724011!5m2!1sen!2sng" width="100%" height="450" style="border:0;" allowfullscreen=""></iframe>
              </div>
            </div>
          </div>
          <div class="col-sm-12 section-t8">
            <div class="row">
              <div class="col-md-7">
                <form action="" method="POST" class="php-email-form" id="contactForm">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                {{ form.name }}
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                {{ form.email }}
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                {{ form.subject }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form.message }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <div class="loading" id="loadingIndicator" style="display: none;">Loading...</div>
                                <div class="error-message" id="errorMessage" style="display: none;"></div>
                                <div class="sent-message" id="sentMessage" style="display: none;">Your message has been sent. Thank you!</div>
                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <input type="submit" class="btn btn-a" value="Send Message">
                        </div>
                    </div>
                </form>
              </div>
              <div class="col-md-5 section-md-t3">
                <div class="icon-box section-b2">
                  <div class="icon-box-icon">
                    <span class="bi bi-envelope"></span>
                  </div>
                  <div class="icon-box-content table-cell">
                    <div class="icon-box-title">
                      <h4 class="icon-title">Say Hello</h4>
                    </div>
                    <div class="icon-box-content">
                      <p class="mb-1">Email
                        <span class="color-a"> : chrischidera6@gmail.com</span>
                      </p>
                      <p class="mb-1">Phone
                        <span class="color-a"> : +234 7033327493</span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="icon-box section-b2">
                  <div class="icon-box-icon">
                    <span class="bi bi-geo-alt"></span>
                  </div>
                  <div class="icon-box-content table-cell">
                    <div class="icon-box-title">
                      <h4 class="icon-title">Find us in</h4>
                    </div>
                    <div class="icon-box-content">
                      <p class="mb-1">
                        New Horizons, Festac Lagos 100001.
                        <br> 1st Floor.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="icon-box">
                  <div class="icon-box-icon">
                    <span class="bi bi-share"></span>
                  </div>
                  <div class="icon-box-content table-cell">
                    <div class="icon-box-title">
                      <h4 class="icon-title">Social networks</h4>
                    </div>
                    <div class="icon-box-content">
                      <div class="socials-footer">
                        <ul class="list-inline">
                          <li class="list-inline-item">
                            <a href="#" class="link-one">
                              <i class="bi bi-facebook" aria-hidden="true"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a href="#" class="link-one">
                              <i class="bi bi-twitter" aria-hidden="true"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a href="#" class="link-one">
                              <i class="bi bi-instagram" aria-hidden="true"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a href="#" class="link-one">
                              <i class="bi bi-linkedin" aria-hidden="true"></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Contact Single-->

  </main><!-- End #main -->

{% include 'footer.html' %}
{% endblock content %}