{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <div class="wrapper">
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <h2>Log In</h2>
            <h3>Welcome Back!</h3>
            {% for field in form %}
            <div class="input-field">
                {{field}}
                <label>Enter your {{field.label}}</label>
            </div>
            {% endfor %}
            <div class="forget">
                <label for="show-password">
                  <input type="checkbox" id="show-password">
                  <p style="color: black; font-weight: bold">Show password</p>
                </label>
                <a style="color: black; font-weight: bold" href="#">Forgot password?</a>
            </div>
            <button type="submit">Log In</button>
            <div class="register">
                <p style="color: black; font-weight: bold">Don't have an account?
                    <a style="color: black; font-weight: bold" href="{% url 'register' %}">Register</a></p>
            </div>
        </form>
    </div>
    <script src="{% static 'js/users_login.js' %}"></script>
{% endblock %}