<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="companyregistration.css">

</head>
<body>
    <div class="container">
        <div class="title">Registration</div>
        <div class="content">
        <form action="#">
            <div class="company-details">
            <div class="input-box">
                <span class="details">Company Name</span>
                <input type="text" placeholder=" Enter Company Name" required>
            </div>
            <div class="input-box">
                <span class="details">Company Address</span>
                <input type="text" placeholder="Enter Company Adress" required>
            </div>
            <div class="input-box">
                <span class="details">Email</span>
                <input type="text" placeholder="Enter Company Email" required>
            </div>
            <div class="input-box">
                <span class="details">Phone Number</span>
                <input type="text" placeholder="Enter Company Number" required>
            </div>
            <div class="input-box">
                <span class="details">Website</span>
                <input type="text" placeholder="Enter Company Website" required>
            </div>
            <div class="input-box">
                <span class="details">CAC Number</span>
                <input type="text" placeholder="Enter Company CAC number" required>
            </div>
            <div class="input-box">
                <span class="details">Upload Company Logo</span>
                <input type="file" required>
            </div>
            <div class="input-box">
                <span class="details">Year Founded</span>
                <input type="number" placeholder="e.g 2008" required>
            </div>
            </div>
            <div class="button">
            <input type="submit" value="Register">
            </div>
        </form>
        </div>
    </div>
</body>
</html>