{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <div class="wrapper">
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <h2>Log In</h2>
            <h3>Welcome Back!</h3>
            <div class="input-field">
                {{form.email}}
                <label>Enter your Email</label>
            </div>
            <div class="input-field">
                {{form.password}}
                <label>Enter your Password</label>
            </div>
            <div class="forget">
                <label for="show-password">
                  <input type="checkbox" id="show-password">
                  <p>Show password</p>
                </label>
                <a href="#">Forgot password?</a>
            </div>
            <button type="submit">Log In</button>
            <div class="register">
                <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
            </div>
        </form>
    </div>
    <script src="{% static 'js/login.js' %}"></script>
{% endblock %}