{% extends template_routes %}
{% load static %}

{% block details %}
    <!-- Content -->

    <!-- Location header -->
    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">
          Apartment Control /
        </span>
        House-Apartment Profiles
    </h4>
    <!-- End Location header -->

    <!-- Striped Rows -->
    <div class="card">
        <h5 class="card-header">Houses with related Apartments</h5>
        <div class="table-responsive text-nowrap">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>House</th>
                <th>Apartments</th>
                <th>Images</th>
                <th>Occupancy status</th>
                <th>Rent Amount</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
              {% for house in houses %}
              <tr>
                <td>
                    <i class="fab fa-angular fa-lg text-danger me-1"></i>
                    <a href={% url "view-apartments" type=type pk=request.user.profile house_id=house.id %}?menu=apartments-management&s_menu=apartment-profiles&menu=all>
                        <h6 class="fw-bold">No. {{house.house_number}}, {{ house.address.title }}</h6>
                    </a>
                </td>
                <td><span class="badge badge-center bg-primary">{{ house.apartments.count }}</span></td>
                <td>
                  <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                    {% for image in house.images.all %}
                    <li
                      data-bs-toggle="tooltip"
                      data-popup="tooltip-custom"
                      data-bs-placement="top"
                      class="avatar avatar-xs pull-up"
                      title={{ forloop.counter }}
                    >
                      <img src="{{ image.image.url }}" alt="Avatar" class="rounded-circle" />
                    </li>
                    {% endfor %}
                  </ul>
                </td>
                <td><span class="badge {% if house.occupancy_status == 'occupied' %}bg-label-primary{% elif house.occupancy_status == 'vacant' %}bg-label-danger{% else %}bg-label-dark{% endif %} me-1">{{ house.occupancy_status }}</span></td>
                <td>
                    <i class="fab fa-angular fa-lg text-danger me-1"></i>
                    <a href="#">
                        <h6 class="fw-bold"><i class="bi bi-currency-dollar"></i>{{ house.rent_price }}</h6>
                    </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot class="table-border-bottom-0">
                <tr>
                    <th>House</th>
                    <th>Apartments</th>
                    <th>Images</th>
                    <th>Occupancy status</th>
                    <th>Rent Amount</th>
                </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <!--/ Striped Rows -->
    <!-- End Content -->
{% endblock details %}