{% extends 'base.html'%}


{% block content%}
<style>

    body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        .apartment-details {
            margin-top: 100px;
            margin-left: 400px;
            max-width: 600px;
            margin: 110 auto;
            border: 1px solid #ddd;
            padding: 20px;
            border-radius: 10px;
        }
        .apartment-details h1 {
            text-align: center;
        }
        .detail {
            margin-bottom: 10px;
        }
        .detail label {
            font-weight: bold;
        }

</style>

<div class="apartment-details">
    <h1>Apartment Details</h1>
    <div class="detail">
        <label>Apartment Number:</label> {{ apartment.apartment_number }}
    </div>

    <div class="detail">
        <label>Floor Number:</label> {{ apartment.floor_number }}
    </div>

    <div class="detail">
        <label>Country:</label> {{ apartment.country.name }}
    </div>

    <div class="detail">
        <label>State:</label> {{ apartment.state.name }}
    </div>

    <div class="detail">
        <label>City:</label> {{ apartment.city }}
    </div>

    <div class="detail">
        <label>Apartment Size:</label> {{ apartment.apartment_size }} sq. meters
    </div>

    <div class="detail">
        <label>Number of Rooms:</label> {{ apartment.number_of_rooms }}
    </div>

    <div class="detail">
        <label>Rent Amount:</label> {{ apartment.rent_amount }}
    </div>

    <div class="detail">
        <label>Deposit Amount:</label> {{ apartment.deposit_amount }}
    </div>

    <div class="detail">
        <label>Lease Start Date:</label> {{ apartment.lease_start_date }}
    </div>

    <div class="detail">
        <label>Lease End Date:</label> {{ apartment.lease_end_date }}
    </div>

    <div class="detail">
        <label>Condition:</label> {{ apartment.condition }}
    </div>
    
    <div class="detail">
        <label>Occupancy Status:</label> {{ apartment.occupancy_status }}
    </div>
    <div class="detail">
        <label>Pet Allowed:</label> {{ apartment.pet_allowed }}
    </div>

    <div class="detail">
        <label>Notes:</label> {{ apartment.notes }}
    </div>

    <div class="detail">
        <label>Created:</label> {{ apartment.created }}
    </div>
   
    <div class="detail">
        <label>Updated:</label> {{ apartment.updated }}
    </div>
</div>

{% endblock content %}
