{% extends "dashboard/main.html" %}

{% block title %}
<title>{{request.user.profile.username.title}}-Tenant</title>
{% endblock title %}

{% block tenant %}
    <!-- Dashboard -->
    <li class="menu-item {% if active_menu == 'tenant-dashboard' %}active{% endif %}">
        <a href='{% url "dashboard-T" pk=request.user.profile %}' class="menu-link">
            <i class="menu-icon tf-icons bi bi-clipboard-data-fill tiny-icon"></i>
            <div data-i18n="Analytics">Dashboard</div>
        </a>
    </li>

    <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Properties</span>
    </li>

    <!-- Tenant Overview -->
    <li class="menu-item {% if active_menu == 'tenants-overview' %}active{% endif %}">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bi bi-bell-fill tiny-icon"></i>
            <div data-i18n="Tenant Overview">Tenant Overview</div>
        </a>

        <ul class="menu-sub">
            <li class="menu-item {% if active_sub_menu == 'lease-info' %}active{% endif %}">
                <a href="#" class="menu-link">
                    <div data-i18n="lease-info">Lease Information</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="#" class="menu-link">
                    <div data-i18n="payment-history">Payment History</div>
                </a>
            </li>
        </ul>
    </li>

    <!-- Rent Payment Management -->
    <li class="menu-item {% if active_menu == 'rent-payment-management' %}active{% endif %}">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bi bi-house-fill tiny-icon"></i>
            <div data-i18n="Rent Payment Management">Billings</div>
        </a>

        <ul class="menu-sub">
            <li class="menu-item {% if active_sub_menu == 'rent-payment-portal' %}active{% endif %}">
                <a href="#" class="menu-link">
                    <div data-i18n="rent-payment-portal">Rent Payment Portal</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="layouts-without-navbar.html" class="menu-link">
                    <div data-i18n="payment-reminders">Payment Reminders</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="layouts-without-navbar.html" class="menu-link">
                    <div data-i18n="receipt-generation">Receipt Generation</div>
                </a>
            </li>
        </ul>
    </li>

    <!-- Maintenance Requests -->
    <li class="menu-item {% if active_menu == 'maintenance-requests' %}active{% endif %}">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bi bi-people-fill tiny-icon"></i>
            <div data-i18n="maintenance requests">Maintenance Requests</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
            <a href="pages-account-settings-account.html" class="menu-link">
                <div data-i18n="request-submission">Request Submission</div>
            </a>
            </li>
            <li class="menu-item">
            <a href="pages-account-settings-notifications.html" class="menu-link">
                <div data-i18n="tracking-updates">Tracking and Updates</div>
            </a>
            </li>
            <li class="menu-item">
            <a href="pages-account-settings-connections.html" class="menu-link">
                <div data-i18n="service-info">Service Provider Information</div>
            </a>
            </li>
        </ul>
    </li>

    <!-- Services -->
    <li class="menu-header small text-uppercase"><span class="menu-header-text">Services</span></li>

    <!-- Communication Tools -->
    <li class="menu-item {% if active_menu == 'communication-tools' %}active{% endif %}">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bi bi-bank tiny-icon"></i>
            <div data-i18n="communication-tools">Communication Tools</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
            <a href="auth-login-basic.html" class="menu-link" target="_blank">
                <div data-i18n="in-app-messaging">In-App Messaging</div>
            </a>
            </li>
            <li class="menu-item">
            <a href="auth-register-basic.html" class="menu-link" target="_blank">
                <div data-i18n="announcements">Announcements</div>
            </a>
            </li>
            <li class="menu-item">
            <a href="auth-forgot-password-basic.html" class="menu-link" target="_blank">
                <div data-i18n="feedback-surveys">Feedback and Surveys</div>
            </a>
            </li>
        </ul>
    </li>

    <!-- Utilities and Services Management -->
    <li class="menu-item {% if active_menu == 'utilities-and-services-management' %}active{% endif %}">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bi bi-tools tiny-icon"></i>
            <div data-i18n="utilities-and-services-management">Utilities and Services Management</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
            <a href="pages-misc-error.html" class="menu-link">
                <div data-i18n="utility-tracking">Utility Tracking</div>
            </a>
            </li>
            <li class="menu-item">
            <a href="pages-misc-under-maintenance.html" class="menu-link">
                <div data-i18n="service-requests">Service Requests</div>
            </a>
            </li>
        </ul>
    </li>

    <!-- Document Management -->
    <li class="menu-item {% if active_menu == 'document-management' %}active{% endif %}">
        <a href="javascript:void(0)" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bi bi-folder-fill tiny-icon"></i>
            <div data-i18n="Extended UI">Document Management</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a href="extended-ui-perfect-scrollbar.html" class="menu-link">
                    <div data-i18n="lease-agreements">Lease and Agreements</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="extended-ui-text-divider.html" class="menu-link">
                    <div data-i18n="receipts-invoices">Receipts and Invoices</div>
                </a>
            </li>
        </ul>
    </li>

    <!-- Community -->
    <li class="menu-header small text-uppercase"><span class="menu-header-text">Community</span></li>
    
    <!-- Community Features -->
    <li class="menu-item {% if active_menu == 'community-features' %}active{% endif %}">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bi bi-graph-up tiny-icon"></i>
            <div data-i18n="community-features">Community Features</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a href="forms-basic-inputs.html" class="menu-link">
                    <div data-i18n="bulletin-board">Community Bulletin Board</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="forms-input-groups.html" class="menu-link">
                    <div data-i18n="neighbor-directory">Neighbor Directory</div>
                </a>
            </li>
        </ul>
    </li>

    <!-- Security Features -->
    <li class="menu-item {% if active_menu == 'security-features' %}active{% endif %}">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bi bi-file-earmark-bar-graph-fill tiny-icon"></i>
            <div data-i18n="security-features">Security Features</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
            <a href="form-layouts-vertical.html" class="menu-link">
                <div data-i18n="visitor-management">Visitor Management</div>
            </a>
            </li>
            <li class="menu-item">
                <a href="forms-input-groups.html" class="menu-link">
                    <div data-i18n="emergency-contacts">Emergency Contacts</div>
                </a>
            </li>
        </ul>
    </li>

      <!-- Move-In/Move-Out Process -->
      <li class="menu-item {% if active_menu == 'move-in-move-out-process' %}active{% endif %}">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bi bi-file-earmark-bar-graph-fill tiny-icon"></i>
            <div data-i18n="move-in-move-out-process">Move-In/Move-Out Process</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
            <a href="form-layouts-vertical.html" class="menu-link">
                <div data-i18n="checklists">Checklists</div>
            </a>
            </li>
            <li class="menu-item">
                <a href="forms-input-groups.html" class="menu-link">
                    <div data-i18n="documentation">Documentation</div>
                </a>
            </li>
        </ul>
    </li>

    <!-- Profiles -->
    <li class="menu-header small text-uppercase"><span class="menu-header-text">Profiles</span></li>
                    
    <!-- User Management -->
    <li class="menu-item {% if active_menu == 'user-management' %}active{% endif %}">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bi bi-person-circle tiny-icon"></i>
            <div data-i18n="User Management">User Management</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item {% if active_sub_menu == 't-profile' %}active{% endif %}">
                <a href='{% url "view-tenant" pk=request.user.profile %}'  class="menu-link">
                    <div data-i18n="t-profile">Tenant Profile</div>
                </a>
            </li>
            <li class="menu-item {% if active_sub_menu == 'personal-profile' %}active{% endif %}">
                <a href='{% url "view-user-profile" pk=request.user.profile type="t" %}' class="menu-link">
                    <div data-i18n="personal-profile">Personal Profile</div>
                </a>
            </li>
        </ul>
    </li>
{% endblock tenant %}
