{% extends "dashboard/main.html" %} 
{% load static %}
{% load custom_filters %}

{% block title %}
  <title>{{request.user.profile.username.title}}-Tenant</title>
{% endblock title %} 

{% block tenant %}

  <!-- Dashboard -->
  <li class="menu-item {% if menu == 'tenant-dashboard' %}active{% endif %}">
    <a href={% url "dashboard-T" pk=request.user.profile %} class="menu-link">
      <i class="menu-icon tf-icons bi bi-clipboard-data-fill tiny-icon"></i>
      <div data-i18n="Analytics">Dashboard</div>
    </a>
  </li>

  <li class="menu-header small text-uppercase">
    <span class="menu-header-text">Properties</span>
  </li>

  <!-- Tenant Overview -->
  <li class="menu-item {% if menu == 'to' %}active open{% endif %}">
    <a href="javascript:void(0);" class="menu-link menu-toggle">
      <i class="menu-icon tf-icons bi bi-person-fill tiny-icon"></i>
      <div data-i18n="Tenant Overview">Tenant Overview</div>
    </a>

    <ul class="menu-sub">
      <li class="menu-item {% if s_menu == 'tli' %}active{% endif %}">
        <a href={% url "tenant-lease" pk=request.user.profile %} class="menu-link">
          <div data-i18n="lease-info">Lease Information</div>
        </a>
      </li>
      <li class="menu-item {% if s_menu == 'tph' %}active{% endif %}">
        <a href={% url "payment-history" pk=request.user.profile %} class="menu-link">
          <div data-i18n="payment-history">Payment History</div>
        </a>
      </li>
    </ul>
  </li>

  <!-- Billings -->
  <li class="menu-item {% if menu == 'tb' %}active open{% endif %}">
    <a href="javascript:void(0);" class="menu-link menu-toggle">
      <i class="menu-icon tf-icons bi bi-cash-coin tiny-icon"></i>
      <div data-i18n="Bilings">Billings</div>
    </a>

    <ul class="menu-sub">
      <li class="menu-item {% if s_menu == 'trpm' %}active{% endif %}">
        <a href={% url "rent-payment" pk=request.user.profile %} class="menu-link">
          <div data-i18n="rent-payment-portal">Rent Payment Portal</div>
        </a>
      </li>
      <li class="menu-item {% if s_menu == 'tpr' %}active{% endif %}">
        <a href="#" class="menu-link">
          <div data-i18n="payment-reminders">Payment Reminders</div>
        </a>
      </li>
    </ul>
  </li>

  <!-- Workorder -->
  <li class="menu-item {% if menu == 'workorder' %}active open{% endif %}">
    <a href="javascript:void(0);" class="menu-link menu-toggle">
      <i class="menu-icon tf-icons bi bi-tools tiny-icon"></i>
      <div data-i18n="Workorder">Workorder</div>
    </a>
    <ul class="menu-sub">
      <li class="menu-item  {% if s_menu == 'rs' %}active{% endif %}">
        <a href={% url "log_request" pk=request.user.profile %} class="menu-link">
          <div data-i18n="request-submission">Request Submission</div>
        </a>
      </li>
      <li class="menu-item  {% if s_menu == 'tau' %}active{% endif %}">
        <a href={% url "tracking" pk=request.user.profile %} class="menu-link">
          <div data-i18n="tracking-updates">Tracking and Updates</div>
        </a>
      </li>
      <li class="menu-item  {% if s_menu == 'spi' %}active{% endif %}">
        <a href={% url "service_provider" pk=request.user.profile %} class="menu-link">
          <div data-i18n="service-info">Service Provider Information</div>
        </a>
      </li>
    </ul>
  </li>

  <!-- Services -->
  <li class="menu-header small text-uppercase">
    <span class="menu-header-text">Services</span>
  </li>

  <!-- Media -->
  <li class="menu-item {% if menu == 'comms' %}active{% endif %}">
    <a href={% url "tenant-comms" pk=request.user.profile %} class="menu-link">
      <i class="menu-icon tf-icons bi bi-chat-square-dots-fill tiny-icon"></i>
      <div data-i18n="media">Communications</div>
    </a>
  </li>

  <!-- Facilities -->
  <li class="menu-item {% if menu == 'facilities' %}active open{% endif %}">
    <a href="javascript:void(0);" class="menu-link menu-toggle">
      <i class="menu-icon tf-icons bi bi-building-fill tiny-icon"></i>
      <div data-i18n="facilities">Facilities</div>
    </a>
    <ul class="menu-sub">
      <li class="menu-item">
        <a href="#" class="menu-link">
          <div data-i18n="utility-tracking">Utility Tracking</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="#" class="menu-link">
          <div data-i18n="service-requests">Service Requests</div>
        </a>
      </li>
    </ul>
  </li>

  <!-- Archiving -->
  <li class="menu-item {% if menu == 'archiving' %}active open{% endif %}">
    <a href="javascript:void(0);" class="menu-link menu-toggle">
      <i class="menu-icon tf-icons bi bi-archive-fill tiny-icon"></i>
      <div data-i18n="Extended UI">Archiving</div>
    </a>
    <ul class="menu-sub">
      <li class="menu-item">
        <a href="#" class="menu-link">
          <div data-i18n="lease-agreements">Lease and Agreements</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="#" class="menu-link">
          <div data-i18n="receipts-invoices">Receipts and Invoices</div>
        </a>
      </li>
    </ul>
  </li>

  <!-- Community -->
  <li class="menu-header small text-uppercase">
    <span class="menu-header-text">Community</span>
  </li>

  <!-- Community Features -->
  <li class="menu-item {% if menu == 'community-features' %}active open{% endif %}">
    <a href="javascript:void(0);" class="menu-link menu-toggle">
      <i class="menu-icon tf-icons bi bi-people-fill tiny-icon"></i>
      <div data-i18n="community-features">Community Features</div>
    </a>
    <ul class="menu-sub">
      <li class="menu-item">
        <a href="#" class="menu-link">
          <div data-i18n="bulletin-board">Community Bulletin Board</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="#" class="menu-link">
          <div data-i18n="neighbor-directory">Neighbor Directory</div>
        </a>
      </li>
    </ul>
  </li>

  <!-- Security Features -->
  <li class="menu-item {% if menu == 'security-features' %}active open{% endif %}">
    <a href="javascript:void(0);" class="menu-link menu-toggle">
      <i class="menu-icon tf-icons bi bi-shield-lock-fill tiny-icon"></i>
      <div data-i18n="security-features">Security Features</div>
    </a>
    <ul class="menu-sub">
      <li class="menu-item">
        <a href="#" class="menu-link">
          <div data-i18n="visitor-management">Visitor Management</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="#" class="menu-link">
          <div data-i18n="emergency-contacts">Emergency Contacts</div>
        </a>
      </li>
    </ul>
  </li>

  <!-- Relocation -->
  <li class="menu-item {% if menu == 'relocation' %}active open{% endif %}">
    <a href="javascript:void(0);" class="menu-link menu-toggle">
      <i class="menu-icon tf-icons bi bi-truck tiny-icon"></i>
      <div data-i18n="relocation">Relocation</div>
    </a>
    <ul class="menu-sub">
      <li class="menu-item">
        <a href="#" class="menu-link">
          <div data-i18n="checklists">Checklists</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="#" class="menu-link">
          <div data-i18n="documentation">Documentation</div>
        </a>
      </li>
    </ul>
  </li>

  <!-- Profiles -->
  <li class="menu-header small text-uppercase">
    <span class="menu-header-text">Profiles</span>
  </li>

  <!-- User Management -->
  <li class="menu-item {% if menu == 'user-management' %}active open{% endif %}">
    <a href="javascript:void(0);" class="menu-link menu-toggle">
      <i class="menu-icon tf-icons bi bi-person-circle tiny-icon"></i>
      <div data-i18n="User Management">User Management</div>
    </a>
    <ul class="menu-sub">
      <li class="menu-item {% if s_menu == 't-profile' %}active{% endif %}">
        <a
          href='{% url "view-tenant" pk=request.user.profile %}'
          class="menu-link"
        >
          <div data-i18n="t-profile">Tenant Profile</div>
        </a>
      </li>
      <li
        class="menu-item {% if s_menu == 'personal-profile' %}active{% endif %}"
      >
        <a
          href='{% url "view-user-profile" pk=request.user.profile type="t" %}'
          class="menu-link"
        >
          <div data-i18n="personal-profile">Personal Profile</div>
        </a>
      </li>
    </ul>
  </li>
{% endblock tenant %}

{% block details %}
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
      <div class="col-lg-8 mb-4 order-0">
        <div class="card">
          <div class="d-flex align-items-end row">
              <div class="col-sm-7">
                <div class="card-body">
                    <h5 class="card-title text-primary">{{ greeting.title }} {{ request.user.profile.name }}! 🥇</h5>
                    <p class="mb-4">
                      Your home is not just a place – it’s a feeling. Let this space be where you find comfort, inspiration, 
                      and strength. Remember, no matter how busy life gets, there’s always room to grow, laugh, and enjoy the journey.    
                    </p>
                    <a href="#" class="btn btn-sm btn-outline-primary">View Messages</a>
                </div>
              </div>
              <div class="col-sm-5 text-center text-sm-left">
                <div class="card-body pb-0 px-0 px-md-4">
                    <img
                    src={% static "img/illustrations/man-with-laptop-light.png" %}
                    height="140"
                    alt="View Badge User"
                    data-app-dark-img="illustrations/man-with-laptop-dark.png"
                    data-app-light-img="illustrations/man-with-laptop-light.png"
                    />
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Lease Information -->
      <div class="col-md-6 col-lg-4 col-xl-4 order-0 mb-4">
        <div class="card h-100">
          <div class="card-header d-flex align-items-center justify-content-between pb-0">
            <div class="card-title mb-0">
              <h5 class="m-0 me-2">Lease Information</h5>
            </div>
            <div class="dropdown">
              <button
                class="btn p-0"
                type="button"
                id="orederStatistics"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="bi bi-three-dots-vertical"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="orederStatistics">
                <a class="dropdown-item" href={% url "dashboard-T" pk=request.user.profile %}>Refresh</a>
              </div>
            </div>
          </div>
          {% if agreement %}
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <div class="d-flex flex-column align-items-center gap-1">
                <h2 class="mb-2">{{ days_left }}</h2>
                <span>Days Left</span>
              </div>
              <div id="daysLeftChart"></div>
            </div>
            <ul class="p-0 m-0">
              {% if agreement.apartment %}
              <li class="d-flex mb-4 pb-1">
                <div class="avatar flex-shrink-0 me-3">
                  <span class="avatar-initial rounded bg-label-primary">
                    <i class="bi bi-house"></i
                  ></span>
                </div>
                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                  <div class="me-2">
                    <h6 class="mb-0">Apartment</h6>
                    <small class="text-muted">{{ agreement.apartment.house }}</small>
                  </div>
                  <div class="user-progress">
                    <small class="fw-semibold">{{ agreement.apartment }}</small>
                  </div>
                </div>
              </li>
              {% endif %}
              <li class="d-flex mb-4 pb-1">
                <div class="avatar flex-shrink-0 me-3">
                  <span class="avatar-initial rounded bg-label-success"
                    ><i class="bi bi-calendar"></i
                  ></span>
                </div>
                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                  <div class="me-2">
                    <h6 class="mb-0">Start Date</h6>
                    <small class="text-muted">{{ agreement.apartment.house }}</small>
                  </div>
                  <div class="user-progress">
                    <small class="fw-semibold">{{ agreement.start_date }}</small>
                  </div>
                </div>
              </li>
              <li class="d-flex mb-4 pb-1">
                <div class="avatar flex-shrink-0 me-3">
                  <span class="avatar-initial rounded bg-label-danger"
                    ><i class="bi bi-calendar-check"></i
                  ></span>
                </div>
                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                  <div class="me-2">
                    <h6 class="mb-0">End Date</h6>
                    <small class="text-muted">{{ agreement.apartment.house }}</small>
                  </div>
                  <div class="user-progress">
                    <small class="fw-semibold">{{ agreement.end_date }}</small>
                  </div>
                </div>
              </li>
              <li class="d-flex mb-4 pb-1">
                <div class="avatar flex-shrink-0 me-3">
                  <span class="avatar-initial rounded bg-label-info"
                    ><i class="bi bi-cash"></i
                  ></span>
                </div>
                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                  <div class="me-2">
                    <h6 class="mb-0">Rent Amount</h6>
                    <small class="text-muted">{{ agreement.apartment.house }}</small>
                  </div>
                  <div class="user-progress">
                    <small class="fw-semibold">$ {{ agreement.rent_amount }}</small>
                  </div>
                </div>
              </li>
              <li class="d-flex mb-4 pb-1">
                <div class="avatar flex-shrink-0 me-3">
                  <span class="avatar-initial rounded bg-label-dark"
                    ><i class="bi bi-credit-card"></i
                  ></span>
                </div>
                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                  <div class="me-2">
                    <h6 class="mb-0">Deposit Amount</h6>
                    <small class="text-muted">{{ agreement.apartment.house }}</small>
                  </div>
                  <div class="user-progress">
                    <small class="fw-semibold">$ {{ agreement.deposit_amount }}</small>
                  </div>
                </div>
              </li>
              <li class="d-flex mb-4 pb-1">
                <div class="avatar flex-shrink-0 me-3">
                  <span class="avatar-initial rounded bg-label-warning"
                    ><i class="bi bi-calendar-month"></i
                  ></span>
                </div>
                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                  <div class="me-2">
                    <h6 class="mb-0">Payment Schedule</h6>
                    <small class="text-muted">{{ agreement.apartment.house }}</small>
                  </div>
                  <div class="user-progress">
                    <small class="fw-semibold">{{ agreement.get_payment_schedule_display }}</small>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          {% else %}
          <div class="card-body">
            <h5 class="card-title mt-3">Add Lease to get a Dynamic View</h5>
            <a href={% url "tenant-lease" pk=request.user.profile %} class="btn btn-outline-primary mt-2">Add Lease</a>
          </div>
          {% endif %}
          
        </div>
      </div>
      <!-- Lease Information -->

      <!-- Recent Activity -->
      <div class="col-md-6 col-lg-4 order-1 mb-4">
        <div class="card h-100">
          <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="card-title m-0 me-2">Recent Activity</h5>
            <div class="dropdown">
              <button
                class="btn p-0"
                type="button"
                id="transactionID"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="bi bi-three-dots-vertical"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="transactionID">
                <a class="dropdown-item" href="javascript:void(0);">Last 28 Days</a>
                <a class="dropdown-item" href="javascript:void(0);">Last Month</a>
                <a class="dropdown-item" href="javascript:void(0);">Last Year</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <ul class="p-0 m-0">
                {% for activity in activities|slice:":8" %}
                <a href=
                        {% if activity.ip_address == "tracking" %}
                            {% url activity.ip_address pk=request.user.profile %}
                        {% else %}"#"{% endif %}>
                <li class="d-flex mb-4 pb-1">
                    <div class="avatar flex-shrink-0 me-3">
                        <span class="avatar-initial rounded bg-label-{{ activity.colour }}">
                            {% if activity.get_action_type_display == "Login" %}
                              <i class="bi bi-door-open-fill"></i>
                            {% elif activity.get_action_type_display == "Logout" %}
                              <i class="bi bi-door-closed-fill"></i>
                            {% elif activity.get_entity_type_display == "Finance" %}
                              <i class="bi bi-credit-card-fill"></i>
                            {% elif activity.get_entity_type_display == "Request" %}
                              <i class="bi bi-clipboard-plus"></i>
                            {% endif %}
                        </span>
                    </div>
                    <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                        <div class="me-2">
                            <small class="text-muted d-block mb-1">{% if activity.get_action_type_display %}{{ activity.get_action_type_display }}{% else %}{{ activity.get_entity_type_display }}{% endif %}</small>
                            <h6 class="mb-0">{{ activity.description }}</h6>
                        </div>
        
                        <div class="user-progress d-flex align-items-center gap-1">
                            <h6 class="mb-0">{{ activities_time|get_digit:activity.id }}</h6> <!-- Access time value -->
                            <span class="text-muted">{{ activities_time|get_duration:activity.id }}</span> <!-- Access unit (days, hours, etc.) -->
                        </div>
                    </div>
                </li>
              </a>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <!-- Recent Activity -->
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script>
    // Sample data for days left and days elapsed
    const daysLeft = {{ days_left }}; // Replace this with the actual days left data
    const daysElapsed = {{ total_days  }} - daysLeft; // Replace this with the actual days elapsed data
    const totalDays = daysLeft + daysElapsed;

    // Create a donut chart using ApexCharts
    const chartOrderStatistics = document.querySelector('#daysLeftChart');

    const orderChartConfig = {
        chart: {
            height: 200,
            width: 250,
            type: 'donut'
        },
        labels: ['Days Left', 'Days Elapsed'],
        series: [daysLeft, daysElapsed],
        colors: ['#36A2EB', '#FF6384'], // Customize colors as needed
        stroke: {
            width: 5,
            colors: '#ffffff' // Adjust stroke color as needed
        },
        dataLabels: {
            enabled: false,
            formatter: function (val) {
                return parseInt(val) + '%';
            }
        },
        legend: {
            show: false
        },
        grid: {
            padding: {
                top: 0,
                bottom: 0,
                right: 15
            }
        },
        plotOptions: {
            pie: {
                donut: {
                    size: '75%',
                    labels: {
                        show: true,
                        value: {
                            fontSize: '1.5rem',
                            fontFamily: 'Public Sans',
                            color: '#000', // Set your preferred font color
                            offsetY: -15,
                            formatter: function (val) {
                                return (val / totalDays * 100).toFixed(1) + '%';
                            }
                        },
                        name: {
                            offsetY: 20,
                            fontFamily: 'Public Sans'
                        },
                        total: {
                            show: true,
                            fontSize: '0.8125rem',
                            color: '#999', // Set your preferred font color
                            label: 'Days Left',
                            formatter: function () {
                                return ((daysLeft / totalDays) * 100).toFixed(1) + '%';
                            }
                        }
                    }
                }
            }
        }
    };

    if (typeof chartOrderStatistics !== undefined && chartOrderStatistics !== null) {
        const statisticsChart = new ApexCharts(chartOrderStatistics, orderChartConfig);
        statisticsChart.render();
    }
  </script>
{% endblock details %}
