{% extends "tenants/T_dashboard.html" %}

{% block details %}
    <!-- Content -->
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">User Management /</span> Tenant Profile</h4>

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills flex-column flex-md-row mb-3">
                <li class="nav-item">
                    <a class="nav-link active" href="javascript:void(0);">
                        <i class="bi bi-person-fill me-1"></i> Tenant Profile
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='{% url "t-view-connections" pk=request.user.profile %}?active_sub_menu=t-profile'>
                        <i class="bi bi-link"></i> Connections
                    </a>
                </li>
            </ul>
            
            <div class="card mb-4">
                <h5 class="card-header">Tenant Profile Details</h5>
                <!-- Account -->
                <div class="card-body">
                    <div class="d-flex align-items-start align-items-sm-center gap-4">
                        <img src="{{ profile.profile_picture.url }}" alt="user-avatar" class="d-block rounded"
                        height="100"
                        width="100"
                        id="uploadedAvatar"
                        />
                        {% if not profile.building_owner %}
                        <div class="button-wrapper">
                            <button type="button" class="btn btn-primary me-3 mb-4 d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#exLargeModal">
                                <span class="d-none d-sm-block me-2">Update Profile</span>
                                <i class="bi bi-pencil-square"></i>
                            </button>
                        </div>
                        {% endif %}
                    </div>
                </div>

                <hr class="my-0" />

                <div class="card-body">
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label class="form-label">First Name</label>
                            <div class="form-control" style="background-color: #e9ecef;">
                                {{ profile.first_name }}
                            </div>
                        </div>  
                        {% if profile.last_name %}
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Last Name</label>
                            <div class="form-control" style="background-color: #e9ecef;">
                                {{ profile.last_name }}
                            </div>
                        </div>{% endif %}
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Email</label>
                            <div class="form-control" style="background-color: #e9ecef;">
                                {{ profile.email }}
                            </div>
                        </div>
                        {% if profile.phone_number %}
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Phone Number</label>
                            <div class="form-control" style="background-color: #e9ecef;">
                                {{ profile.phone_number }}
                            </div>
                        </div>{% endif %}
                        {% if profile.building_owner %}
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Building Owner</label>
                            <div class="form-control" style="background-color: #e9ecef;">
                                {{ profile.building_owner.building_owner_name }}
                            </div>
                        </div>{% endif %}
                        {% if profile.house %}
                        <div class="mb-3 col-md-6">
                            <label class="form-label">House</label>
                            <div class="form-control" style="background-color: #e9ecef;">
                                No {{ profile.house.house_number }}, {{ profile.house.address }}
                            </div>
                        </div>{% endif %}
                        {% if profile.apartment %}
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Apartment</label>
                            <div class="form-control" style="background-color: #e9ecef;">
                                Apartment {{ profile.apartment.apartment_number }} - Floor {{ profile.apartment.floor_number }}
                            </div>
                        </div>{% endif %}
                        {% if profile.country %}
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Country</label>
                            <div class="form-control" style="background-color: #e9ecef;">
                                {{ profile.country }}
                            </div>
                        </div>{% endif %}
                        {% if profile.state %}
                        <div class="mb-3 col-md-6">
                            <label class="form-label">State</label>
                            <div class="form-control" style="background-color: #e9ecef;">
                                {{ profile.state }}
                            </div>
                        </div>{% endif %}
                        {% if profile.city %}
                        <div class="mb-3 col-md-6">
                            <label class="form-label">City</label>
                            <div class="form-control" style="background-color: #e9ecef;">
                                {{ profile.city }}
                            </div>
                        </div>{% endif %}
                        {% if profile.move_in_date %}
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Move in Date</label>
                            <div class="form-control" style="background-color: #e9ecef;">
                                {{ profile.move_in_date }}
                            </div>
                        </div>{% endif %}
                        
                        {% if profile.lease_start_date %}
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Lease Start Date</label>
                            <div class="form-control" style="background-color: #e9ecef;">
                                {{ profile.lease_start_date }}
                            </div>
                        </div>{% endif %}
                        {% if profile.lease_end_date %}
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Lease End Date</label>
                            <div class="form-control" style="background-color: #e9ecef;">
                                {{ profile.lease_end_date }}
                            </div>
                        </div>{% endif %}
                        {% if profile.monthly_rent %}
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Monthly Rent</label>
                            <div class="form-control" style="background-color: #e9ecef;">
                                {{ profile.monthly_rent }}
                            </div>
                        </div>{% endif %}
                        {% if profile.deposit_amount%}
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Deposit Amount</label>
                            <div class="form-control" style="background-color: #e9ecef;">
                                {{ profile.deposit_amount }}
                            </div>
                        </div>{% endif %}
                        {% if profile.lease_term %}
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Lease Term</label>
                            <div class="form-control" style="background-color: #e9ecef;">
                                {{ profile.lease_term }}
                            </div>
                        </div>{% endif %}
                        {% if profile.payment_status %}
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Payment Status</label>
                            <div class="form-control" style="background-color: #e9ecef;">
                                {{ profile.payment_status.upper }}
                            </div>
                        </div>{% endif %}
                        {% if profile.emergency_contact_name %}
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Emergency Contact Name</label>
                            <div class="form-control" style="background-color: #e9ecef;">
                                {{ profile.emergency_contact_name }}
                            </div>
                        </div>{% endif %}
                        {% if profile.emergency_contact_number %}
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Emergency Contact Number</label>
                            <div class="form-control" style="background-color: #e9ecef;">
                                {{ profile.emergency_contact_number }}
                            </div>
                        </div>{% endif %}
                        {% if profile.employment_status %}
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Employment Staus</label>
                            <div class="form-control" style="background-color: #e9ecef;">
                                {{ profile.employment_status.upper }}
                            </div>
                        </div>{% endif %}
                        {% if profile.ocuupation %}
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Occupation</label>
                            <div class="form-control" style="background-color: #e9ecef;">
                                {{ profile.occupation.upper }}
                            </div>
                        </div>{% endif %}
                        {% if profile.notes %}
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Notes</label>
                            <div class="form-control" style="background-color: #e9ecef;">
                                {{ profile.notes }}
                            </div>
                        </div>{% endif %}
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Created</label>
                            <div class="form-control" style="background-color: #e9ecef;">
                                {{ profile.created }}
                            </div>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Updated</label>
                            <div class="form-control" style="background-color: #e9ecef;">
                                {{ profile.updated }}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Account -->
            </div>
        </div>
    </div>

    <!-- Update Building Owner Modal -->
    <div class="modal fade" id="exLargeModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="fw-bold py-3 mb-1"><span class="text-muted fw-light">User Management / Tenant /</span>  Update</h4>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data" action='{% url "view-tenant" pk=request.user.profile %}'>
                        {% csrf_token %}
                        <div class="row">
                            {% for field in form %}
                                <div class="mb-3 col-md-6">
                                    <label class="form-label">{{ field.label }}</label>
                                    {{ field }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                            Close
                            </button>
                            <button type="submit" class="btn btn-primary me-2">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Listen for the modal to be shown
            var modalElement = document.getElementById('exLargeModal');
            modalElement.addEventListener('shown.bs.modal', function() {
                // Attach a change event listener to the country dropdown
                var countrySelect = document.getElementById('id_country');
                countrySelect.addEventListener('change', function() {
                    var countryId = this.value;
                    if (countryId) {
                        fetch("{% url 'get-states' %}?country_id=" + countryId)
                            .then(response => response.json())
                            .then(data => {
                                var options = '<option value="">Select a state</option>';
                                data.forEach(function(state) {
                                    options += '<option value="' + state.id + '">' + state.name + '</option>';
                                });
                                document.getElementById('id_state').innerHTML = options;
                            })
                            .catch(error => console.error("Error fetching states:", error));
                    } else {
                        document.getElementById('id_state').innerHTML = '';
                    }
                });
            });
        });        
    </script>
    <!-- / Content -->


{% endblock details %}