{% extends template_route %}

{% block details %}
    <!-- Content -->

    <!-- Location -->
    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">
            Tenant Management /
        </span> 
        Tenant Profiles
    </h4>
    <!-- End Location -->

    <!-- Tenant Details -->
    <div class="nav-align-top mb-4">
        <!-- Tabs -->
        <ul class="nav nav-pills mb-3 nav-fill" role="tablist">
            <!-- Tenant Profile Tabs Button -->
            <li class="nav-item">
                <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" 
                data-bs-target="#navs-pills-justified-tenants" aria-controls="navs-pills-justified-tenants" aria-selected="true">
                    <i class="tf-icons bi bi-person-fill"></i> Tenants
                    <span class="badge rounded-pill badge-center h-px-20 w-px-20 bg-danger">{{ total_tenants }}</span>
                </button>
            </li>

            <!-- Add a Tenant Tabs Button -->
            <li class="nav-item">
                <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" 
                data-bs-target="#navs-pills-justified-add-tenant" aria-controls="navs-pills-justified-add-tenant" aria-selected="false">
                    <i class="tf-icons bi bi-cloud-plus-fill"></i> Add Tenant
                </button>
            </li>
        </ul>
        <!-- End Tabs -->

        <!-- Details -->
        <div class="tab-content">
            <!-- Tenants Details Tab -->
            <div class="tab-pane fade show active" id="navs-pills-justified-tenants" role="tabpanel">
                <!-- Tenants Tab Details Box -->
                <div class="nav-align-top">
                    <ul class="nav nav-pills mb-3" role="tablist">
                        <li class="nav-item">
                            <button type="button" class="nav-link {% if menu == 'all' %}active{% endif %}" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-top-all" aria-controls="navs-pills-top-all" aria-selected="true">
                                All
                            </button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="nav-link {% if menu == 'yearly' %}active{% endif %}" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-top-yearly" aria-controls="navs-pills-top-yearly" aria-selected="false">
                                Yearly Lease
                            </button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="nav-link {% if menu == 'six_monthly' %}active{% endif %}" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-top-six_monthly" aria-controls="navs-pills-top-six_monthly" aria-selected="false">
                                Six-Monthly Lease
                            </button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="nav-link {% if menu == 'month_to_month' %}active{% endif %}" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-top-month_to_month" aria-controls="navs-pills-top-month_to_month" aria-selected="false">
                                Month-to-Month Lease
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-outline-primary ms-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBoth" aria-controls="offcanvasBoth">
                                Filter Tenants
                            </button>
                        </li>
                        {% if reset_filter == "filtering" %}
                            <li>
                                <button type="button" class="btn btn-outline-secondary d-grid w-100 ms-2" id="reset-filter">Reset Filter</button>
                            </li>
                        {% endif %}
                    </ul>

                    <!-- Tenant Tab Details Inner -->
                    <div class="tab-content" style="background-color: #f5f5f9;">
                        <!-- All Tenant Tab Details -->
                        <div class="tab-pane fade {% if menu == 'all' %}show active{% endif %}" id="navs-pills-top-all" role="tabpanel">
                           {% if exist.0 %}
                                {% include "tenants/tenant_content.html" with tenants=tenants type=type %}
                           {% else %}
                                <h1>No Tenant Found</h1>
                           {% endif %}
                            <!--Paginator for All Tenants -->
                            {% include "dashboard/pagination.html" with query_set=tenants custom_range=custom_range query_menu='all' query_string=query_string %}
                            <!--End Paginator-->
                        </div>  
                        <!-- End All Tenant Tab Details -->

                        <!-- Yearly Lease Tab Details -->
                        <div class="tab-pane fade {% if menu == 'yearly' %}show active{% endif %}" id="navs-pills-top-yearly" role="tabpanel">
                            {% if exist.1 %}
                                {% include "tenants/tenant_content.html" with tenants=yearly_tenants type=type %}
                            {% else %}
                                <h3>No Yearly Tenant Found</h3>
                            {% endif %}
                            <!--Paginator for All Tenants -->
                            {% include "dashboard/pagination.html" with query_set=yearly_tenants custom_range=yt_custom_range query_menu='all' query_string=query_string %}
                            <!--End Paginator-->
                        </div>
                        <!-- End Yearly Lease Tab Details -->

                        <!-- Six-Monthly Lease Tab Details -->
                        <div class="tab-pane fade {% if menu == 'six_monthly' %}show active{% endif %}" id="navs-pills-top-six_monthly" role="tabpanel">
                            {% if exist.2 %}
                                {% include "tenants/tenant_content.html" with tenants=six_monthly_tenants type=type %}
                            {% else %}
                                <h3>No Six Monthly Tenant Found</h3>
                            {% endif %}
                            <!--Paginator for All Tenants -->
                            {% include "dashboard/pagination.html" with query_set=six_monthly_tenants custom_range=smt_custom_range query_menu='all' query_string=query_string %}
                            <!--End Paginator-->
                        </div>
                        <!-- End Six-Monthly Lease Tab Details -->

                        <!-- Month-to-Month Lease Tab Details -->
                        <div class="tab-pane fade {% if menu == 'month_to_month' %}show active{% endif %}" id="navs-pills-top-month_to_month" role="tabpanel">
                            {% if exist.3 %}
                                {% include "tenants/tenant_content.html" with tenants=month_to_month_tenants type=type %}
                            {% else %}
                                <h3>No Month to Month Tenant Found</h3>
                            {% endif %}
                            <!--Paginator for All Tenants -->
                            {% include "dashboard/pagination.html" with query_set=month_to_month_tenants custom_range=m2mt_custom_range query_menu='all' query_string=query_string %}
                            <!--End Paginator-->
                        </div>
                        <!-- End Month-to-Month Lease Tab Details -->

                        <!-- Filter Backdrop -->
                        <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasBoth" aria-labelledby="offcanvasBothLabel">
                            <div class="offcanvas-header">
                                <h5 id="offcanvasBothLabel" class="offcanvas-title">Filter Tenants</h5>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body my-auto mx-0 flex-grow-0">
                                <form id="filterForm" action={% url "tenants-profiles" pk=request.user.profile type=type %}?menu=all method="GET">
                                    {{ filter_tenant.as_p }}
                                    <input type='text' value="filtering" name="reset_filter" hidden/>
                                    <button type="submit" class="btn btn-primary mb-2 d-grid w-100">Filter</button>
                                    <button type="button" class="btn btn-outline-secondary d-grid w-100" id="reset-button">Reset</button>
                                </form>
                            </div>
                        </div>  
                        <!-- End Filter Backdrop -->                        
                    </div>
                    <!-- Tenant Tab Details Inner -->
                </div>
                <!-- End Tenants Tab Details Box -->
            </div>
            <!-- End Tenants Details Tab -->

            <!-- Add a Tenant Tabs Details -->
            <div class="tab-pane fade" id="navs-pills-justified-add-tenant" role="tabpanel">
                {% if houses.count > 0 %}
                <form method="POST" enctype="multipart/form-data" action="#">
                    {% csrf_token %}
                    <div class="row">
                        {% for field in form %}
                            <div class="mb-3 col-md-6">
                                <label class="form-label">{{ field.label }}</label>
                                {{ field }}
                                {% if field.label != "Emergency contact name" and field.label != "Emergency contact number" %}
                                    <div id="floatingInputHelp" class="form-text">
                                        This field is compulsory
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary me-2">Add Tenant</button>
                    </div>
                </form>
                {% else %}
                <h3>Add a House before you can add a Tenant</h3>
                {% endif %}
            </div>
        </div>
        <!-- End Details -->
    </div>
    <!-- End House Details -->

    <script>
        document.addEventListener("DOMContentLoaded", function() {
          // Attach a change event listener to the country dropdown
          var houseSelect = document.getElementById('house_id');
          houseSelect.addEventListener('change', function() {
            var houseId = this.value;
            if (houseId) {
                fetch("{% url 'get-apartments' %}?house_id=" + houseId)
                    .then(response => response.json())
                    .then(data => {
                        var options = '<option value="">Select an Apartment</option>';
                        data.forEach(function(apartment) {
                            options += '<option value="' + apartment.id + '">Apartment ' + apartment.apartment_number + ' - Floor ' + apartment.floor_number + '</option>';
                        });
                        document.getElementById('apartment_id').innerHTML = options;
                    })
                    .catch(error => console.error("Error fetching states:", error));
            } else {
                document.getElementById('apartment_id').innerHTML = '';
            }
          });
        });        
    </script>
    <script>
        document.getElementById('reset-button').addEventListener('click', function() {
            // Select the form
            var form = this.closest('form');
            
            // Clear all input fields in the form
            form.reset();
            window.location.href = window.location.pathname;
        });
    </script>
    <script>
        document.getElementById('reset-filter').addEventListener('click', function() {
            window.location.href = window.location.pathname;
        });
    </script>
{% endblock details %}