{% extends  "companies/C_dashboard.html" %}
{% load static %}

{% block details %}
    <!-- Content -->

    <!-- Location header -->
    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">
          House Management /
        </span>
        Estate-Houses Profiles
    </h4>
    <!-- End Location header -->

     <!-- Striped Rows -->
      <div class="card">
        <h5 class="card-header">Estates with related houses</h5>
        <div class="table-responsive text-nowrap">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                      <th>Estates</th>
                      <th>Houses</th>
                      <th>Images</th>
                      <th>Estate type</th>
                      <th>Maintenance cost</th>
                    </tr>
                  </thead>
                  <tbody class="table-border-bottom-0">
                    {% for estate in estates %}
                        <tr onclick="window.location.href='{% url "view-houses" type=type pk=request.user.profile estate_id=estate.id %}?menu=hm&s_menu=hp&i_menu=all'" style="cursor:pointer;">
                            <td>
                                <i class="fab fa-angular fa-lg text-danger me-1"></i>
                                <h6 class="fw-bold"> {{estate.estate_name}}, {{ estate.address.title }}</h6>
                            </td>
                            <td><span class="badge badge-center bg-primary">{{ estate.houses.count }}</span></td>
                            <td>
                              <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                {% for image in estate.images.all %}
                                <li
                                  data-bs-toggle="tooltip"
                                  data-popup="tooltip-custom"
                                  data-bs-placement="top"
                                  class="avatar avatar-xs pull-up"
                                  title={{ forloop.counter }}
                                >
                                  <img src="{{ image.image.url }}" alt="Avatar" class="rounded-circle" />
                                </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td><span class="badge {% if house.occupancy_status == 'occupied' %}bg-label-primary{% elif house.occupancy_status == 'vacant' %}bg-label-danger{% else %}bg-label-dark{% endif %} me-1">{{estate.estate_type }}</span></td>
                <td>
                    <i class="fab fa-angular fa-lg text-danger me-1"></i>
                    <a href="#">
                        <h6 class="fw-bold"><i class="bi bi-currency-dollar"></i>{{ estate.maintenance_cost }}</h6>
                    </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot class="table-border-bottom-0">
                <tr>
                    <th>Estates</th>
                      <th>Houses</th>
                      <th>Images</th>
                      <th>Estate type</th>
                      <th>Maintenance cost</th>
                </tr>
            </tfoot>
                  </tbody>
            </table>
        </div>
      </div>

{% endblock details %}