{% extends "companies/C_dashboard.html" %} 
{% load static %}

{% block details %}
<link href={% static "assets/css/style.css" %} rel="stylesheet">
  <!-- Content -->

   <!-- Location header -->
   <h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">Estate Management / 
        <a class="text-muted fw-light" href={% url "estates" pk=request.user.profile type=type %}>Estate Profiles</a> /
    </span> {{ estate.estate_name }}, {{ estate.address.title }}
</h4>
<!-- End Location header -->

 <!-- House Details -->
 <div class="nav-align-top mb-4">
    <!-- Tabs -->
    <ul class="nav nav-pills mb-3 nav-fill" role="tablist">
        <!-- House Tabs Button -->
        <li class="nav-item">
            <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" 
            data-bs-target="#navs-pills-justified-house-details" aria-controls="navs-pills-justified-house-details" aria-selected="true">
                <i class="tf-icons bi bi-cloud-haze2-fill"></i> Estate Details
                <span class="badge rounded-pill badge-center h-px-20 w-px-20 bg-danger">{{estates.count}}</span>
            </button>
        </li>

        <!-- Update a House Tabs Button -->
        <li class="nav-item">
            <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" 
            data-bs-target="#navs-pills-justified-update-house" aria-controls="navs-pills-justified-update-house" aria-selected="false">
                <i class="tf-icons bi bi-cloud-plus-fill"></i> Update Estate Details
            </button>
        </li>
    </ul>
    <!-- End Tabs -->

     <!-- Details -->
     <div class="tab-content">
        <!-- Houses Details Tab -->
        <div class="tab-pane fade show active" id="navs-pills-justified-house-details" role="tabpanel">
            <section class="property-single nav-arrow-b">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div id="property-single-carousel" class="swiper">
                                <div id="carouselExample-cf" class="carousel carousel-dark slide carousel-fade" data-bs-ride="carousel">
                                    <ol class="carousel-indicators">
                                    {% for image in estate.images.all %}
                                        <li data-bs-target="#carouselExample-cf" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
                                    {% endfor %}
                                    </ol>
                                    <div class="carousel-inner">
                                    {% for image in estate.images.all %}
                                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                            <img src="{{ image.image.url }}" class="d-block w-100" style="width: 500px; height: 621px; border-radius: 7px;" alt="...">
                                        </div>
                                    {% endfor %}
                                    </div>
                                    <a class="carousel-control-prev" href="javascript:void(0);" role="button" data-bs-slide="prev">
                                    <span class="visually-hidden">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="javascript:void(0);" role="button" data-bs-slide="next">
                                    <span class="visually-hidden">Next</span>
                                    </a>
                                </div>
                            </div>
                            <div class="property-single-carousel-pagination carousel-pagination"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row justify-content-between">
                                <div class="col-md-5 col-lg-4">
                                    <div class="property-price d-flex justify-content-center foo">
                                        <div class="card-header-c d-flex">
                                            <div class="card-box-ico">
                                                <span class="bi bi-cash">$</span>
                                            </div>
                                            <div class="card-title-c align-self-center">
                                                <h5 class="title-c mt-3">{{ estate.maintenance_cost }}</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="property-summary">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="title-box-d section-t4">
                                                    <h3 class="title-d">Quick Summary</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="summary-list">
                                            <ul class="list">
                                                <li class="d-flex justify-content-between">
                                                    <strong>Estate Name:</strong>
                                                    <span>{{ estate.estate_name }}</span>
                                                </li>
                                                <li class="d-flex justify-content-between">
                                                    <strong>Address:</strong>
                                                    <span>{{ estate.address.title }}</span>
                                                </li>
                                                {% if estate.country.name %}
                                                    <li class="d-flex justify-content-between">
                                                        <strong>World Location:</strong>
                                                        <span>{{ estate.city.title }} {{ estate.state.name.title }} {{ estate.country.name.title }}</span>
                                                    </li>
                                                {% endif %}
                                                <li class="d-flex justify-content-between">
                                                    <strong>Estate Type:</strong>
                                                    <span>{{ estate.estate_type.title }}</span>
                                                </li>
                                                <li class="d-flex justify-content-between"></li>
                                                    <strong>Year Built:</strong>
                                                    <span>{{ estate.year_built }}</span>
                                                </li>
                                                <li class="d-flex justify-content-between">
                                                    <strong>Houses:</strong>
                                                    <span>{{ estate.number_of_houses }}</span>
                                                </li>
                                                <li class="d-flex justify-content-between">
                                                    <strong>Total Area covered:</strong>
                                                    <span>{{ estate.total_area_covered }}m
                                                        <sup>2</sup>
                                                    </span>
                                                </li>
                                                <li class="d-flex justify-content-between">
                                                    <strong>Land Area:</strong>
                                                    <span>{{ estate.land_area }}</span>
                                                </li>
                                                <li class="d-flex justify-content-between">
                                                    <strong>Estate Parking Spaces:</strong>
                                                    <span>{{ estate.estate_parking_spaces }}</span>
                                                </li>
                                                <li class="d-flex justify-content-between">
                                                    <strong>Construction Type:</strong>
                                                    <span>{{ estate.construction_type }}m
                                                        <sup>2</sup>
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7 col-lg-7 section-md-t3">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="title-box-d">
                                                <h3 class="title-d">Property Description</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="property-description">
                                        {% if estate.description %}
                                        <p class="description color-text-a">
                                            {{ estate.description }}
                                        </p>
                                        <p class="description color-text-a no-margin"></p>
                                        {% else %}
                                        <p class="description color-text-a">
                                            <h3>No Description</h3>
                                        </p>
                                        <p class="description color-text-a no-margin"></p>
                                        {% endif %}
                                    </div>
                                    <div class="row section-t3">
                                        <div class="col-sm-12">
                                            <div class="title-box-d">
                                                <h3 class="title-d">Utilities</h3>
                                            </div>
                                        </div>
                                    </div>
                                    {% if estate.utilities.all %}
                                        <div class="amenities-list color-text-a">
                                            <ul class="list-a no-margin">
                                                {% for utility in estate.utilities.all %}
                                                    <li class="me-5">{{ utility }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% else %}
                                        <h3>No Utilities</h3>
                                    {% endif %}
                                    <div class="row section-t3">
                                        <div class="col-sm-12">
                                            <div class="title-box-d">
                                                <h3 class="title-d">Utilities</h3>
                                            </div>
                                        </div>
                                    </div>
                                    {% if estate.amenities.all %}
                                        <div class="amenities-list color-text-a">
                                            <ul class="list-a no-margin">
                                                {% for amenity in estate.amenities.all %}
                                                    <li class="me-5">{{ amenity }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% else %}
                                        <h3>No Amenities</h3>
                                    {% endif %}
                                    <div class="row section-t3">
                                        <div class="col-sm-12">
                                            <div class="title-box-d">
                                                <h3 class="title-d">Security Features</h3>
                                            </div>
                                        </div>
                                    </div>
                                    {% if estate.security_features.all %}
                                        <div class="amenities-list color-text-a">
                                            <ul class="list-a no-margin">
                                                {% for feature in estate.security_features.all %}
                                                    <li class="me-5">{{ feature }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% else %}
                                        <h3>No Security Features</h3>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                       
                        <!-- Update a House Tabs Details -->
            <div class="tab-pane fade" id="navs-pills-justified-update-house" role="tabpanel">
                <form method="POST" enctype="multipart/form-data" action="">
                    {% csrf_token %}
                    <div class="row">
                        {% for field in form %}
                            <div class="mb-3 col-md-6">
                                <label class="form-label">{{ field.label }}</label>
                                {{ field }}
                                {% if field.label == "Address" %}
                                    <div id="floatingInputHelp" class="form-text">
                                    Do not add your Estate name to the Address
                                    </div>
                                {% endif %}

                                {% if field.label == "Estate name" %}
                                    <div id="floatingInputHelp" class="form-text">
                                    This field is compulsory
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Upload Images</label>
                            <input type="file" name='images' multiple class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary me-2">Update Estate</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- End Details -->
    </div>
    <!-- End House Details -->

    <div class="card">
        <h5 class="card-header">Delete Estate</h5>
        <div class="card-body">
            <div class="mb-3 col-12 mb-0">
                <div class="alert alert-warning">
                    <h6 class="alert-heading fw-bold mb-1">Are you sure you want to delete this estate and its houses?</h6>
                    <p class="mb-0">Once you delete this estate, there is no going back. Please be certain.</p>
                </div>
            </div>
            <form id="formAccountDeactivation" action='{% url "delete-estate" pk=estate.id %}'>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" name="accountActivation" id="accountActivation"/>
                    <label class="form-check-label" for="accountActivation">
                        I confirm my estate delection
                    </label>
                </div>
                <button type="submit" class="btn btn-danger deactivate-account" id="deactivateButton" disabled>Delete estate</button>
            </form>
        </div>
    </div>
    <!-- End Content-->
    
    <script>
        const checkbox = document.getElementById('accountActivation');
        const button = document.getElementById('deactivateButton');
    
        checkbox.addEventListener('change', function() {
            button.disabled = !this.checked;
        });
    </script>
{% endblock details %}

