{% extends "companies/C_dashboard.html" %} 
{% load static %}

{% block details %}
  <!-- Content -->

  <!-- Location header -->
  <h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">Estate Management / </span>Estate Profiles
  </h4>
  <!-- End Location header -->
  <div class="nav-align-top mb-4">
    <!-- Tabs -->
    <ul class="nav nav-pills mb-3 nav-fill" role="tablist">
        <!--Houses Tabs Button NB: THE add parameter is only for houses menu-->
        <li class="nav-item">
            <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" 
            data-bs-target="#navs-pills-justified-estate" aria-controls="navs-pills-justified-estate" aria-selected="true">
                <i class="tf-icons bi bi-building-fill"></i> Estate
                <span class="badge rounded-pill badge-center h-px-20 w-px-20 bg-danger">{{ total_estates }}</span>
            </button>
        </li>

        <!-- Add a House Tabs Button -->
        <li class="nav-item">
            <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" 
            data-bs-target="#navs-pills-justified-add-estate" aria-controls="navs-pills-justified-add-estate" aria-selected="false">
                <i class="tf-icons bi bi-plus-circle-fill"></i> Add a Estate
            </button>
        </li>
    </ul>
    <!-- End Tabs -->

    
      <!-- Details -->
      <div class="tab-content">
        <!-- Houses Tabs Details -->
        <div class="tab-pane fade show active" id="navs-pills-justified-estate" role="tabpanel">
          <div class="nav-align-top">
            <ul class="nav nav-pills mb-3" role="tablist">
                <li class="nav-item">
                  <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-top-all" aria-controls="navs-pills-top-all" aria-selected="true">
                    All
                  </button>
                </li>
                <li class="nav-item">
                  <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-top-residental" aria-controls="navs-pills-top-residental" aria-selected="false">
                      Residental Estate
                  </button>
                </li>
                <li class="nav-item">
                  <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-top-commercial" aria-controls="navs-pills-top-commercial" aria-selected="false">
                      Commercial Estate
                  </button>
                </li>
                <li class="nav-item">
                  <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-top-mixed" aria-controls="navs-pills-top-mixed" aria-selected="false">
                      Mixed-Use Estate
                  </button>
                </li>
            </ul>

            <div class="tab-content" style="background-color: #f5f5f9;">
              <!-- All Houses Tab Details -->
              <div class="tab-pane fade show active" id="navs-pills-top-all" role="tabpanel">
                {% if exist.0 %}
                          {% include "estates/estate_content.html" with profile=profile estates=estates type=type %}
                          <!--Paginator for All Houses-->
                          <!-- {% include "dashboard/pagination.html" with query_set=houses custom_range=custom_range query_menu='all' query_string=query_string %} -->
                          <!--End Paginator-->
                  {% else %}
                          <h2>No Estate Found</h2>
                        {% endif %} 
               
              </div>
              <div class="tab-pane fade" id="navs-pills-top-residental" role="tabpanel">
                <h1>James</h1>
              </div>
              <div class="tab-pane fade" id="navs-pills-top-commercial" role="tabpanel">
                <h1>Praise</h1>
              </div>
              <div class="tab-pane fade" id="navs-pills-top-mixed" role="tabpanel">
                <h1>Mark</h1>
              </div>
            </div>
          </div>
        </div>
        
         <!-- Add a Estate Tabs Details NB: THE add parameter is only for this estates-->
        <div class="tab-pane fade" id="navs-pills-justified-add-estate" role="tabpanel">
          <form method="POST" enctype="multipart/form-data"  action='' >
            {% csrf_token %}
            <div class="row">
                {% for field in form %}
                    <div class="mb-3 col-md-6">
                        <label class="form-label">{{ field.label }}</label>
                        {{ field }}

                      {% if field.label == "Address" %}
                        <div id="floatingInputHelp" class="form-text">
                          Do not add your Estate name to the Address
                        </div>
                      {% endif %}
                      {% if field.label == "Name" %}
                      <div id="floatingInputHelp" class="form-text">
                        This field is compulsory
                      </div>
                      {% endif %}
                    </div>
               {% endfor %}
               <div class="mb-3 col-md-6">
                <label class="form-label">Upload Images</label>
                <input type="file" name='images' multiple class="form-control">
               </div>
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-primary me-2">Add Estate</button>
              </div>
            </form>
        </div>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
        // Attach a change event listener to the country dropdown
        var countrySelect = document.getElementById('id_country');
        countrySelect.addEventListener('change', function() {
          var countryId = this.value;
          if (countryId) {
              fetch("{% url 'get-states' %}?country_id=" + countryId)
                  .then(response => response.json())
                  .then(data => {
                      var options = '<option value="">Select a state</option>';
                      data.forEach(function(state) {
                          options += '<option value="' + state.id + '">' + state.name + '</option>';
                      });
                      document.getElementById('id_state').innerHTML = options;
                  })
                  .catch(error => console.error("Error fetching states:", error));
          } else {
              document.getElementById('id_state').innerHTML = '';
          }
        });
      });        
    </script>
    <script>
      document.getElementById('reset-button').addEventListener('click', function() {
          // Select the form
          var form = this.closest('form');
          
          // Clear all input fields in the form
          form.reset();
          window.location.href = window.location.pathname;
      });
    </script>
    <script>
      document.getElementById('reset-filter').addEventListener('click', function() {
          window.location.href = window.location.pathname;
      });
    </script>
  

{% endblock details%}
