{% extends 'base.html'%}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/homeEstate.css' %}">
{% endblock head %}

{% block content%}
<h1>Home Template</h1>
<hr>
<br>
<h1><a href="{% url 'create-estate' %}">Create New Profile</a></h1>

<table>
        <tr>
            <th>Estate Name</th>
            <th>Estate Location</th>
            <th>Actions</th>
        </tr>
        {% for profile in profiles %}
        <tr>
            <td>{{ profile.estate_name }}</td>
            <td>{{ profile.estate_location }}</td>
            <td>
                <a href="{% url 'view-estate' profile.id %}">View</a> |
                <a href="{% url 'update-estate' profile.id %}">Edit</a> |
                <a href="{% url 'delete-estate' profile.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>


{% endblock content %}